body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
.mainContainer {
  padding: 0 0.9rem;
  width: 90%;
  margin: auto;
}
.iconMain {
  border-top: 1px solid rgb(247, 246, 246);
  border-bottom: 1px solid rgb(247, 246, 246);
  height: 100px;
  display: flex;
  align-items: center;
}
